* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Lato;
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  text-align: left;
}

:root {
  --color-primary: #34C94B;
  --color-secondary: #121212;
  --color-text: #ffffff;
}
