.navbar {
  background-color: var(--color-primary);
  height: 74px;
  width: 100%;
  padding: 0px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbarBrand {
  /* border: 2px solid yellow; */
  color: var(--color-text);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.brandName{
  font-size: 24px;
  position: relative;
  left: -29px;
  top: 10px;
  font-weight: 600;
}
#brandName{
  font-size: 24px;
  position: relative;
  left: -15px;
  top: 10px;
  letter-spacing: 2px;
  font-weight: 600;
}
